Exercicio de Sala

### 1. `read_csv()`
A função `read_csv()` é usada para ler um arquivo CSV e convertê-lo em um DataFrame do pandas.

```python
import pandas as pd

# Lê o arquivo CSV e cria um DataFrame
df = pd.read_csv('caminho/para/seu_arquivo.csv')
```

In [1]:
print ("Olá Mundo")

Ola Mundo

In [7]:
import pandas as pd
df = pd.read_csv('ON35-S11-PLANILHA.CSV', delimiter=';', skiprows=8, encoding='latin1')

### 2. `head()`
Exibe as primeiras linhas do DataFrame. Por padrão, mostra as 5 primeiras linhas.
pode também colocar só df...

```python
# Exibe as 5 primeiras linhas
print(df.head())

# Exibe as 10 primeiras linhas
print(df.head(10))
```

In [11]:
df.head(10)

,Data,Hora UTC,"PRECIPITAÇÃO TOTAL, HORÁRIO (mm)","PRESSAO ATMOSFERICA AO NIVEL DA ESTACAO, HORARIA (mB)","TEMPERATURA DO AR - BULBO SECO, HORARIA (°C)",UMIDADE REL. MAX. NA HORA ANT. (AUT) (%),"VENTO, DIREÇÃO HORARIA (gr) (° (gr))","VENTO, RAJADA MAXIMA (m/s)","VENTO, VELOCIDADE HORARIA (m/s)"
0,01/01/2020,0000 UTC,0,"972,1","24,2",93.0,3.0,"3,6","2,2"
1,01/01/2020,0100 UTC,0,"972,7","23,9",94.0,328.0,"4,2",2
2,01/01/2020,0200 UTC,0,"972,5","23,8",95.0,286.0,"3,8","2,5"
3,01/01/2020,0300 UTC,0,972,"23,3",97.0,129.0,"3,4","0,5"
4,01/01/2020,0400 UTC,0,"971,7","23,2",97.0,122.0,"3,4","1,2"
5,01/01/2020,0500 UTC,0,"971,4","22,7",98.0,78.0,"2,2",1
6,01/01/2020,0600 UTC,0,971,"22,5",98.0,356.0,"2,6","1,8"
7,01/01/2020,0700 UTC,0,"970,9","22,4",98.0,17.0,"2,8","0,6"
8,01/01/2020,0800 UTC,0,"970,7","22,1",98.0,270.0,"1,8","0,7"
9,01/01/2020,0900 UTC,0,"971,1",22,98.0,58.0,"1,9","1,3"

### 3. `tail()`
Exibe as últimas linhas do DataFrame. Por padrão, mostra as 5 últimas linhas.

```python
# Exibe as 5 últimas linhas
print(df.tail())

# Exibe as 10 últimas linhas
print(df.tail(10))
```

In [12]:
df.tail(10)

,Data,Hora UTC,"PRECIPITAÇÃO TOTAL, HORÁRIO (mm)","PRESSAO ATMOSFERICA AO NIVEL DA ESTACAO, HORARIA (mB)","TEMPERATURA DO AR - BULBO SECO, HORARIA (°C)",UMIDADE REL. MAX. NA HORA ANT. (AUT) (%),"VENTO, DIREÇÃO HORARIA (gr) (° (gr))","VENTO, RAJADA MAXIMA (m/s)","VENTO, VELOCIDADE HORARIA (m/s)"
8774,31/12/2020,1400 UTC,0,"974,9","31,7",64.0,325.0,"8,5","5,1"
8775,31/12/2020,1500 UTC,0,"974,8","31,4",55.0,300.0,"9,9","5,6"
8776,31/12/2020,1600 UTC,0,"974,5","30,8",60.0,281.0,"8,1","4,5"
8777,31/12/2020,1700 UTC,0,"973,8","31,2",59.0,272.0,"8,1","5,6"
8778,31/12/2020,1800 UTC,0,"973,6","27,7",72.0,312.0,"8,7","1,8"
8779,31/12/2020,1900 UTC,0,"973,5","28,9",72.0,235.0,"10,3","5,2"
8780,31/12/2020,2000 UTC,0,"973,3","27,2",76.0,230.0,"7,5","4,7"
8781,31/12/2020,2100 UTC,0,"972,6","26,3",84.0,342.0,"7,5","3,7"
8782,31/12/2020,2200 UTC,0,973,"24,9",90.0,359.0,"6,8","3,5"
8783,31/12/2020,2300 UTC,0,974,"23,6",93.0,123.0,"6,5","1,7"

## 4. `shape`
Retorna a quantidade de linhas e colunas do DataFrame em formato de tupla `(linhas, colunas)`.
Shapes: atributos

```python
# Exibe o formato do DataFrame
print(df.shape)
```

In [13]:
df.shape

(8784, 9)

### 5. `describe()`
Gera estatísticas descritivas para colunas numéricas, como contagem, média, desvio padrão, valores mínimo e máximo, e quartis.

```python
# Exibe estatísticas descritivas
print(df.describe())
```

In [14]:
df.describe ()

,UMIDADE REL. MAX. NA HORA ANT. (AUT) (%),"VENTO, DIREÇÃO HORARIA (gr) (° (gr))"
count,8781.000000,8782.000000
mean,74.357932,169.236506
std,19.362176,117.659771
min,19.000000,1.000000
25%,60.000000,45.000000
50%,79.000000,187.000000
75%,91.000000,266.000000
max,99.000000,360.000000

### 6. `dtypes`
Retorna os tipos de dados de cada coluna no DataFrame.

```python
# Exibe os tipos de dados das colunas
print(df.dtypes)
```

In [16]:
df.dtypes

Data                                                      object
Hora UTC                                                  object
PRECIPITAÇÃO TOTAL, HORÁRIO (mm)                          object
PRESSAO ATMOSFERICA AO NIVEL DA ESTACAO, HORARIA (mB)     object
TEMPERATURA DO AR - BULBO SECO, HORARIA (°C)              object
UMIDADE REL. MAX. NA HORA ANT. (AUT) (%)                 float64
VENTO, DIREÇÃO HORARIA (gr) (° (gr))                     float64
VENTO, RAJADA MAXIMA (m/s)                                object
VENTO, VELOCIDADE HORARIA (m/s)                           object
dtype: object

### 7. `sample()` e `reset_index()`
- `sample()`: Seleciona uma amostra aleatória de linhas do DataFrame.
- `reset_index()`: Reseta o índice do DataFrame, útil após filtragens ou amostragens.

```python
# Seleciona 5 linhas aleatórias
amostra = df.sample(n=5)

# Reseta o índice do DataFrame amostrado
amostra_resetada = amostra.reset_index(drop=True)

print(amostra_resetada)
```

In [17]:
df.sample(n=5)

,Data,Hora UTC,"PRECIPITAÇÃO TOTAL, HORÁRIO (mm)","PRESSAO ATMOSFERICA AO NIVEL DA ESTACAO, HORARIA (mB)","TEMPERATURA DO AR - BULBO SECO, HORARIA (°C)",UMIDADE REL. MAX. NA HORA ANT. (AUT) (%),"VENTO, DIREÇÃO HORARIA (gr) (° (gr))","VENTO, RAJADA MAXIMA (m/s)","VENTO, VELOCIDADE HORARIA (m/s)"
4402,02/07/2020,1000 UTC,0,"979,3",9,93.0,194.0,"3,3",2
4899,23/07/2020,0300 UTC,0,"975,7",15,75.0,2.0,"2,5","1,3"
8046,01/12/2020,0600 UTC,0,"972,4","22,8",97.0,331.0,"2,3","0,4"
3097,09/05/2020,0100 UTC,0,"980,6","13,6",87.0,66.0,"1,8","1,4"
5816,30/08/2020,0800 UTC,0,"972,3",15,81.0,201.0,4,"1,6"

### 8. Reduzir o DataFrame
Selecionar um subconjunto de colunas e/ou linhas.

```python
# Selecionar 3 colunas específicas 
# df_reduzido é o nome da variável
df_reduzido = df[['Coluna1', 'Coluna2', 'Coluna3']]

# Para mostrar/visualizar 
df_reduzido.head()

# Selecionar 1000 linhas aleatórias
df_reduzido = df_reduzido.sample(n=1000, random_state=42)
```

In [25]:
df_reduzido = df[['Data', 'PRECIPITAÇÃO TOTAL, HORÁRIO (mm)']]

In [26]:
df_reduzido.head()

         Data PRECIPITAÇÃO TOTAL, HORÁRIO (mm)
0  01/01/2020                                0
1  01/01/2020                                0
2  01/01/2020                                0
3  01/01/2020                                0
4  01/01/2020                                0

### 9. `columns`
Exibe ou altera os nomes das colunas.

```python
# Exibe os nomes das colunas
print(df.columns)

# Altera os nomes das colunas
df.columns = ['NovoNome1', 'NovoNome2', 'NovoNome3']
```

### 10. Selecionar uma coluna
Você pode selecionar uma coluna específica utilizando a notação de colchetes.

coluna_temperatura = df['Nome da coluna que tem no CSV (°C)']


```python
# Seleciona a coluna 'Coluna1'
coluna1 = df['Coluna1']
print(coluna1)
```

In [44]:
coluna_umi= df['UMIDADE REL. MAX. NA HORA ANT. (AUT) (%)']
print (coluna_umi)

0       93.0
1       94.0
2       95.0
3       97.0
4       97.0
        ...
8779    72.0
8780    76.0
8781    84.0
8782    90.0
8783    93.0
Name: UMIDADE REL. MAX. NA HORA ANT. (AUT) (%), Length: 8784, dtype: float64

### 11. `min()`, `max()`, `sum()` e `mean()`
Funções para calcular o valor mínimo, máximo, soma e média, respectivamente.

coluna_temperatura = df['Nome da coluna que tem no CSV (°C)']

Exemplo:

coluna_temperatura = df['TEMPERATURA DO AR - BULBO SECO, HORARIA (°C)']

coluna_temperatura = pd.to_numeric(df('TEMPERATURA DO AR - BULBO SECO, HORARIA (°C)'), errors='coerce')


coluna_temperatura.min()

coluna_temparatura.max()...



```python
# Valor mínimo
minimo = df['Coluna1'].min()

# Valor máximo
maximo = df['Coluna1'].max()

# Soma dos valores
soma = df['Coluna1'].sum()

# Média dos valores
media = df['Coluna1'].mean()

print(f"Mínimo: {minimo}, Máximo: {maximo}, Soma: {soma}, Média: {media}")
```

In [61]:
coluna_temperatura = df['TEMPERATURA DO AR - BULBO SECO, HORARIA (°C)']

In [63]:
coluna_temperatura = pd.to_numeric(df['TEMPERATURA DO AR - BULBO SECO, HORARIA (°C)'], errors='coerce')

In [64]:
coluna_temperatura.min()

np.float64(6.0)

In [65]:
coluna_temperatura.max()

np.float64(40.0)

In [67]:
coluna_temperatura.sum()

np.float64(21149.0)

In [66]:
coluna_temperatura.mean()

np.float64(23.978458049886623)

### 12. `isnull()`
Identifica valores nulos no DataFrame, retornando um DataFrame booleano.

```python
# Verifica valores nulos
nulos = df.isnull()
print(nulos)

# Contagem de valores nulos em cada coluna
nulos_por_coluna = df.isnull().sum()
print(nulos_por_coluna)
```

In [69]:
df.isnull().sum()

Data                                                     0
Hora UTC                                                 0
PRECIPITAÇÃO TOTAL, HORÁRIO (mm)                         2
PRESSAO ATMOSFERICA AO NIVEL DA ESTACAO, HORARIA (mB)    2
TEMPERATURA DO AR - BULBO SECO, HORARIA (°C)             2
UMIDADE REL. MAX. NA HORA ANT. (AUT) (%)                 3
VENTO, DIREÇÃO HORARIA (gr) (° (gr))                     2
VENTO, RAJADA MAXIMA (m/s)                               3
VENTO, VELOCIDADE HORARIA (m/s)                          2
dtype: int64

### 13. `dropna()`
Remove linhas ou colunas que contenham valores nulos.

```python
# Remove linhas com qualquer valor nulo
df_sem_nulos = df.dropna()

# Remove colunas que contenham valores nulos
df_sem_nulos_colunas = df.dropna(axis=1)
```

### 14. `fillna()`
Preenche valores nulos com um valor específico.

```python
# Preenche valores nulos com 0
df_preenchido = df.fillna(0)

# Preenche valores nulos com a média da coluna
df_preenchido_media = df.fillna(df.mean())
```

### 15. `replace()`
Substitui valores específicos no DataFrame.

```python
# Substitui todos os valores 0 por NaN
df_substituido = df.replace(0, np.nan)

# Substitui um valor específico em uma coluna
df['Coluna1'] = df['Coluna1'].replace('ValorAntigo', 'ValorNovo')
```

### 16. `drop_duplicates()`
Remove linhas duplicadas do DataFrame.

```python
# Remove linhas duplicadas
df_sem_duplicatas = df.drop_duplicates()

# Remove duplicatas com base em colunas específicas
df_sem_duplicatas_colunas = df.drop_duplicates(subset=['Coluna1', 'Coluna2'])
```

### 17. Normalização
A normalização é o processo de ajustar os valores das colunas para um mesmo intervalo, geralmente entre 0 e 1.

```python
# Normaliza os valores de uma coluna para o intervalo [0, 1]
df['Coluna1_normalizada'] = (df['Coluna1'] - df['Coluna1'].min()) / (df['Coluna1'].max() - df['Coluna1'].min())

# Outra forma de normalização usando o método z-score (normalização padrão)
df['Coluna1_zscore'] = (df['Coluna1'] - df['Coluna1'].mean()) / df['Coluna1'].std()
```

In [71]:
df['Coluna1_normalizada'] = (df['UMIDADE REL. MAX. NA HORA ANT. (AUT) (%)'] - df['UMIDADE REL. MAX. NA HORA ANT. (AUT) (%)'].min()) / (df['UMIDADE REL. MAX. NA HORA ANT. (AUT) (%)'].max() - df['UMIDADE REL. MAX. NA HORA ANT. (AUT) (%)'].min())

Instalando o matplolib

In [ ]:
plt.figure(figsize=(12, 6))
plt.plot(df_20['Hora UTC'], df_20['UMIDADE RELATIVA DO AR, HORARIA (%)'], marker='o', linestyle='-', color='g')
plt.xlabel('Hora UTC')
plt.ylabel('Umidade (%)')
plt.title('Umidade ao Longo do Tempo')
plt.xticks(rotation=90)
plt.tight_layout()
plt.show()